* { box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #072737;
  background-image: url('/images/bgPattern.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom left;
  background-attachment: fixed;
  color: #FEFEFE;
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  position: relative;
  top: 1px;
}

.wrapper {
  max-width: 62rem;
  min-width: 55rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
.headerContainer {
  height: 4.65rem;
}

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: #072737;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogoLink {}
.headerLogo {}

/* Header Nav */
.headerNav {
  display: flex;
  align-items: center;
}

.headerNavLink {
  transition: 0.15s;
  margin: 0 1rem;
  color: #97AFBB;
}

.headerNavLink.isActive,
.headerNavLink:hover {
  color: white;
}

.headerNavLink.isActive { font-weight: bold; }
.headerNavLink:first-child { margin-left: 0; }
.headerNavLink:last-child { margin-right: 0; }

/* Header Nav Twitter */

.headerNavTwitter {
  margin-left: 1rem;
  font-size: 0.875rem;
  transition: 0.15s;
  background-color: #0091DA;
  border-radius: 0.25rem;
  color: white;
  padding: 0.325rem 0.5rem;
  display: flex;
}

.headerNavTwitter:hover {
  background-color: #00A2F3;
}

.headerNavTwitter:hover >
.headerNavTwitterIcon {
  opacity: 1;
}

.headerNavTwitterIcon {
  transition: 0.15s;
  margin-right: 0.5rem;
  opacity: 0.75;
}

.headerNavTwitterText {}

/* Hero */
.hero {
  text-align: center;
  padding: 5rem 0;
}

.heroTitle {
  position: relative;
  font-size: 2rem;
  margin: 0;
}

.heroTitle + .heroSubtitle {
  margin: 2rem 0 0 0;
}

.heroTitleUnderline {
  border-bottom: 3px solid #E53E71;
}

.heroSubtitle {
  font-size: 1.25rem;
  color: #97AFBB;
}

.heroSubtitleEmojii {
  position: relative;
  top: 2px;
  font-size: 1.5rem;
  margin: 0 0.25rem;
}

/* Hero Form */
.heroForm {
  overflow: hidden;
  max-width: 30rem;
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: stretch;
  background-color: white;
  border-radius: 0.325rem;
}

.heroFormEmail {
  outline: none;
  border: none;
  flex: 1;
  font-size: 1rem;
  padding: 0 1rem;
}

.heroFormEmail::placeholder {
  color: #7995A3;
}

.heroFormButton {
  transition: 0.15s;
  margin: 0.5rem;
  background-image: linear-gradient(-135deg, #BD3178 0%, #3CA5DE 100%);
  font-weight: bold;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 0.75rem;
}

.heroFormButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.heroFormSuccess,
.heroFormError {
  margin: 2rem auto 0 auto;
}

/* Resource List */
.resourceList {}

/* Resource List Item */

.resourceListItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  background-color: #1D3B4A;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(1,12,17,0.325);
}

.resourceListItemImage {
  width: 10rem;
  align-self: stretch;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.resourceListItemContent {
  padding: 1.5rem;
  flex: 1;
}

.resourceListItemTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

/* .resourceListItemTitle > span {

} */

.resourceListItemCategory {
  margin-left: 0.5rem;
  transition: 0.15s;
  position: relative;
  top: -2px;
  background-color: #2F5365;
  font-weight: normal;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.325rem;
  line-height: 0.875rem;
  display: inline-block;
  font-weight: bold;
}

.resourceListItemCategory:hover {
  background-color: #4B6E80;
}

.resourceListItemDescription {
  color: #97AFBB;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  padding-bottom: 0.75rem;
}

/* Resource List Item Author */

.resourceListItemAuthor {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
}

.resourceListItemAuthorAvatar {
  overflow: hidden;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.75rem;
  border-radius: 50%;
}

.resourceListItemAuthorInfo {
  font-size: 0.875rem;
}

.resourceListItemAuthorName {
  display: block;
  font-weight: bold;
  margin-bottom: 0.125rem;
}

.resourceListItemAuthorTwitter {
  display: block;
  transition: 0.15s;
  color: #97AFBB;
}

.resourceListItemAuthorTwitter:hover {
  color: #ffffff;
}

/* Resource List Item Sidebar */

.resourceListItemSidebar {
  flex-shrink: 0;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

/* Resource List Item Sidebar Links */
.resourceListItemSidebarLinks {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resourceListItemMainLink {
  white-space: nowrap;
  transition: 0.15s;
  background-image: linear-gradient(-135deg, #BD3178 0%, #3CA5DE 100%);
  font-weight: bold;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

.resourceListItemMainLink:hover {
  transform: scale(1.05);
}

.resourceListItemMainLink:hover >
.resourceListItemMainLinkIcon {
  opacity: 1;
}

.resourceListItemMainLinkIcon {
  transition: 0.15s;
  margin-right: 0.5rem;
  opacity: 0.75;
}

.resourceListItemMainLinkText {}

.resourceListItemGithubLink {
  white-space: nowrap;
  transition: 0.15s;
  margin-top: 1rem;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

.resourceListItemGithubLink:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.resourceListItemGithubLink:hover >
.resourceListItemGithubLinkIcon {
  opacity: 1;
}

.resourceListItemGithubLinkIcon {
  transition: 0.15s;
  margin-right: 0.5rem;
  opacity: 0.75;
}

.resourceListItemGithubLinkText {}

/* Footer */
.footer {
  padding: 4rem 0 2rem 0;
}

.footer > .wrapper {
  display: flex;
  justify-content: space-between;
}

.footerSite {
  display: flex;
  align-items: center;
  color: rgba(255,255,255,0.5);
}

.footerSiteLink {
  transition: 0.15s;
  margin-left: 0.5rem;
}

.footerSiteLink:hover {
  color: white;
}

.footerLogo {
  transition: 0.15s;
  opacity: 0.5;
  margin-right: 1rem;
}

.footerLogo:hover {
  opacity: 1;
}

.footerAbout { color: rgba(255,255,255,0.5); }
.footerAbout > a { color: white; }

/* Loader */
.loaderSpinner {
  margin: 100px auto;
  width: 70px;
  text-align: center;
}

.loaderSpinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 100%;
  display: inline-block;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.loaderSpinner .loaderBounce1 {
  animation-delay: -0.32s;
}

.loaderSpinner .loaderBounce2 {
  animation-delay: -0.16s;
}

@keyframes bouncedelay {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1.0); }
}

/* Error message */
.errorMessage {
  margin: 6.25rem 0;
  text-align: center;
}

/* Empty message */
.emptyMessage {
  margin: 6.25rem 0;
  text-align: center;
}

.emptyMessage > a {
  transition: 0.15s;
  opacity: 0.5;
}

.emptyMessage > a:hover {
  opacity: 1;
}

/* New Resource */

.newResourceForm {
  max-width: 30rem;
  margin: 4rem auto;
}

.newResourceTitle {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 2rem auto;
  max-width: 25rem;
}

.newResourceSubtitle {
  font-size: 1.25rem;
  color: #97AFBB;
  text-align: center;
  margin: 0 0 2rem 0;
}

.newResourceFormInput {
  width: 100%;
  border: none;
  border-radius: 0.325rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  margin-bottom: 1rem;
}

.newResourceFormTitleInput {
  width: 100%;
  border: none;
  font-size: 1.25rem;
  border-radius: 0.325rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  margin-bottom: 1rem;
}

.newResourceFormSelect {
  position: relative;
  background-color: white;
  background-image: url('/images/dropdownIcon.svg');
  background-position: right 1rem center;
  background-repeat: no-repeat;
  border-radius: 0.325rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
}

.newResourceFormSelectValue {
  color: #02141C;
  font-weight: bold;
}

.newResourceFormSelectElement {
  opacity: 0;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.newResourceFormTextarea {
  height: 8rem;
  resize: none;
  width: 100%;
  border: none;
  border-radius: 0.325rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  margin-bottom: 1rem;
}

.newResourceFormDropzone {
  background-image: linear-gradient(-135deg, #BD3178 0%, #3CA5DE 100%);
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 0.325rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.newResourceFormDropzone:hover {
  cursor: pointer;
}

.newResourceFormImage {
  display: block;
  border-radius: 0.325rem;
  overflow: hidden;
  max-width: 100%;
}

.newResourceFormButton {
  background-image: linear-gradient(-135deg, #BD3178 0%, #3CA5DE 100%);
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 0.325rem;
  padding: 0.75rem 1rem;
}

.newResourceFormButton:hover {
  cursor: pointer;
}